.stickyBottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}

.stickyBottom ul {
  background-color: black;
  border-top: 1px solid black;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  padding: 8px 0px 6px 0px;
  list-style-type: none;
  margin: 0;
}

.navItemWrapper {
  flex: 1;
  padding: 0px;
  height: 42px;
  margin: 0px;
}
